body {
	margin: 0;
}

p {
	margin: 0;
	color: white;
	font-size: 24px;
}

.top-box {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNn-pbJ1WpnpENcwH5isBOdJPVL_gzd-cTx2RikOq_eDlMPQr2qubpo6mElThlahkHLmg&usqp=CAU");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.black-box {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.bottom-box {
	background-image: url("https://i.pinimg.com/736x/ba/92/7f/ba927ff34cd961ce2c184d47e8ead9f6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}